<div class="contact-modal-wrapper">
  <h2 mat-dialog-title class="centered-title">Contacto</h2>

  <div class="header-divider"></div>

  <mat-dialog-content class="centered-content">
    <p class="description">Tienes dudas sobre el proceso o tienes algo que comentar</p>

    <div class="email-display">
      <a href="mailto:contacto@impulsociudadanobc.org"> contacto@impulsociudadanobc.org </a>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="close-btn-text">Cerrar</button>
  </mat-dialog-actions>
</div>
