<section class="about-section">
  <div class="section-container">
    <div class="about-grid">
      <div class="about-text">
        <span class="sub-title">Nuestra Misión</span>
        <h2>Sobre el Consejo Ciudadano de BC</h2>
        <p>
          <strong class="text-blue">Impulso Ciudadano BC</strong> es una plataforma para que el
          liderazgo comunitario sea reconocido, creemos que la fuerza de Baja California reside en
          su gente: en esas personas que han construido soluciones reales para sus vecinos con puro
          mérito y sin buscar reflectores.
        </p>
        <p>
          Como una iniciativa impulsada por el Consejo Ciudadano de BC, convencidos de que la
          participación directa es la única forma de fortalecer nuestro estado porque involucrarnos
          es el primer paso para exigir y lograr los resultados que todos merecemos.
          <a (click)="navigateToabout()" class="learn-more-btn">
            Saber más del proyecto
            <mat-icon>arrow_right_alt</mat-icon>
          </a>
        </p>
      </div>

      <div class="about-image">
        <div class="logo-container">
          <div class="logo-circle">
            <img src="images/app-logo.png" alt="Logo Consejo Ciudadano BC" class="about-logo" />
          </div>
          <div class="decoration-dots"></div>
        </div>
      </div>
    </div>
  </div>
</section>
